<a href="https://colab.research.google.com/github/nefetorve/cwiczenia_data_science/blob/master/051_060_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 51](#1)
* [Ćwiczenie 52](#2)
* [Ćwiczenie 53](#3)
* [Ćwiczenie 54](#4)
* [Ćwiczenie 55](#5)
* [Ćwiczenie 56](#6)
* [Ćwiczenie 57](#7)
* [Ćwiczenie 58](#8)
* [Ćwiczenie 59](#9)
* [Ćwiczenie 60](#10)

### <a name='0'></a>Import biblioteki

In [61]:
import numpy as np

np.random.seed(42)
np.__version__

'1.18.5'

### <a name='1'></a> Ćwiczenie 51
Podane są poniżej dwie tablice $A$ i $B$:


```
A = np.array([[3, 4, 5],
              [8, 3, 1]])
B = np.array([[0, 5, 2],
              [4, 2, 1]])
```
* Połącz te tablice w następujący sposób:


```
array([[3, 4, 5],
       [8, 3, 1],
       [0, 5, 2],
       [4, 2, 1]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.concatenate()_.

In [62]:
A = np.array([[3, 4, 5],
              [8, 3, 1]])
B = np.array([[0, 5, 2],
              [4, 2, 1]])

np.concatenate((A,B),axis=0)

array([[3, 4, 5],
       [8, 3, 1],
       [0, 5, 2],
       [4, 2, 1]])

* Połącz te tablice w następujący sposób:


```
array([[3, 4, 5, 0, 5, 2],
       [8, 3, 1, 4, 2, 1]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.concatenate()_.

In [63]:
np.concatenate((A,B),axis=1)

array([[3, 4, 5, 0, 5, 2],
       [8, 3, 1, 4, 2, 1]])

### <a name='2'></a> Ćwiczenie 52
Podana jest tablica zawierająca dane _data_ oraz tablica zawierająca docelową klasę dla danego wiersza _target_:

```
data = np.array([[4.3, 4.2],
                 [3.1, 3.6]])
target = np.array([[0],
                   [1]])
```

Połącz te tablice w jedną tak jak pokazano poniżej:


```
array([[4.3, 4.2, 0. ],
       [3.1, 3.6, 1. ]])
```

In [64]:
data = np.array([[4.3, 4.2],
                 [3.1, 3.6]])
target = np.array([[0],
                   [1]])

np.concatenate((data,target),axis=1)

array([[4.3, 4.2, 0. ],
       [3.1, 3.6, 1. ]])

### <a name='3'></a> Ćwiczenie 53
Podane są trzy poniższe jednowymiarowe tablice:  


```
feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])
```
Przekształć każdą z tych tablic w kolumnę i sklej w jedną dużą tablicę.

__Oczekiwany wynik:__


```
array([[1.6, 0.4, 1.4],
       [0.9, 1.3, 0.3],
       [2.2, 3.2, 1.2]])
```

__Wskazówka:__ Wykorzystaj funkcję _np.column_stack()_.

In [65]:
feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])

np.column_stack((feature1,feature2,feature3))

array([[1.6, 0.4, 1.4],
       [0.9, 1.3, 0.3],
       [2.2, 3.2, 1.2]])

### <a name='4'></a> Ćwiczenie 54
Podana jest poniższa dwuwymiarowa tablica:

```
A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1
A
```
```
array([[0, 0, 4, 6, 2, 4, 1, 1],
       [0, 0, 6, 2, 2, 4, 1, 1],
       [0, 0, 1, 3, 5, 5, 1, 1],
       [0, 0, 3, 1, 5, 4, 1, 1],
       [0, 0, 2, 6, 1, 3, 1, 1]])
```

Podziel tablicę na 3 części tak aby pierwsze dwie kolumny stanowiły pierwszą tablicę $A1$, cztery kolejne drugą tablicę $A2$ oraz dwie ostatnie trzecią tablicę $A3$.

__Wskazówka:__ Wykorzystaj funkcję _np.split()_.

In [66]:
A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1
A

array([[0, 0, 4, 6, 2, 4, 1, 1],
       [0, 0, 6, 2, 2, 4, 1, 1],
       [0, 0, 1, 3, 5, 5, 1, 1],
       [0, 0, 3, 1, 5, 4, 1, 1],
       [0, 0, 2, 6, 1, 3, 1, 1]])

In [67]:
np.split(A,[2,6,8],axis=1)

[array([[0, 0],
        [0, 0],
        [0, 0],
        [0, 0],
        [0, 0]]), array([[4, 6, 2, 4],
        [6, 2, 2, 4],
        [1, 3, 5, 5],
        [3, 1, 5, 4],
        [2, 6, 1, 3]]), array([[1, 1],
        [1, 1],
        [1, 1],
        [1, 1],
        [1, 1]]), array([], shape=(5, 0), dtype=int64)]

### <a name='5'></a> Ćwiczenie 55
Podana jest poniższa tablica $A$:

```
A = np.random.randint(low=0, high=2, size=(10, 6))
```
Wyznacz łączną liczbę elementów niezerowych dla tej tablicy.

__Wskazówka:__ Wykorzystaj funkcję _np.count_nonzero()_.

In [75]:
A = np.random.randint(low=0, high=2, size=(10, 6))
np.count_nonzero(A)

38

Wyznacz łączną liczbę elementów niezerowych dla każdego wiersza tej tablicy.

__Wskazówka:__ Wykorzystaj funkcję _np.count_nonzero()_.

In [78]:
np.count_nonzero(A, axis=0)

array([5, 7, 6, 6, 5, 9])

### <a name='6'></a> Ćwiczenie 56
Poniżej podana jest przykładowa tablica $A$:

```
A = np.random.randn(10, 4)
```

```
array([[-0.53441645, -1.49505387, -0.78925833,  0.74371128],
       [-0.21216142, -0.42686879,  0.50144833,  1.15818665],
       [ 0.25711687,  0.3145129 ,  1.37186213,  0.17555329],
       [-0.30928855,  0.6731255 , -0.25663018, -0.36782572],
       [ 1.27373362, -0.29195267, -2.65517605,  0.34551794],
       [-0.39551645, -0.28913686,  0.45293633, -0.16606091],
       [ 0.21493883, -2.02231493, -0.94305681,  1.40395874],
       [-0.0185508 , -1.67350462, -1.07253183, -0.99258618],
       [ 0.10234768, -0.43260928, -0.6591823 ,  0.0039373 ],
       [ 0.4777541 , -0.25902864, -0.57470921, -0.42149822]])
```


Ustaw odopowiednią opcję biblioteki numpy pozwalającą drukować tablice z określoną precyzją. Ustaw jej wartość na 4 i wydrukuj tablicę $A$.

In [79]:
A = np.random.randn(10, 4)
np.set_printoptions(precision=4)
A

array([[ 0.7385,  0.1714, -0.1156, -0.3011],
       [-1.4785, -0.7198, -0.4606,  1.0571],
       [ 0.3436, -1.763 ,  0.3241, -0.3851],
       [-0.6769,  0.6117,  1.031 ,  0.9313],
       [-0.8392, -0.3092,  0.3313,  0.9755],
       [-0.4792, -0.1857, -1.1063, -1.1962],
       [ 0.8125,  1.3562, -0.072 ,  1.0035],
       [ 0.3616, -0.6451,  0.3614,  1.538 ],
       [-0.0358,  1.5646, -2.6197,  0.8219],
       [ 0.087 , -0.299 ,  0.0918, -1.9876]])

### <a name='7'></a> Ćwiczenie 57
Podana jest poniższa tablica numpy $A$:

```
A = np.array([1.2e-6, 1.7e-7])
```

Ustaw wartość precyzji na 8. Następnie ustaw odopowiednią opcję biblioteki numpy pozwalającą stłumić notację wykładniczą. Wydrukuj tablicę $A$.

__Oczekiwany wynik:__


```
array([0.0000012 , 0.00000017])
```

In [83]:
A = np.array([1.2e-6, 1.7e-7])
np.set_printoptions(precision=8, suppress=1)
A

array([0.00000120, 0.00000017])

### <a name='8'></a> Ćwiczenie 58
Podana jest poniższa tablica numpy $A$:

```
A = np.random.randn(8, 4)
```
Usuń trzecią kolumnę z tablicy $A$.

__Oczekiwany wynik:__


```
array([[-0.55692881, -0.66003196,  0.70856031],
       [ 0.22378737, -0.19796576, -0.16889332],
       [ 0.26062786,  0.29865445, -0.92259267],
       [-2.40317659,  1.79961876, -1.96495796],
       [ 0.13051561, -1.7085185 ,  0.54885043],
       [ 1.77268727,  0.38751181, -0.05141955],
       [-1.80858596, -0.45075211,  0.15332866],
       [ 1.94218961, -1.93679529, -1.83350954]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.delete()_.

In [88]:
A = np.random.randn(8, 4)
A

array([[ 0.01300189,  1.45353408, -0.26465683,  2.72016917],
       [ 0.62566735, -0.85715756, -1.07089250,  0.48247242],
       [-0.22346279,  0.71400049,  0.47323762, -0.07282891],
       [-0.84679372, -1.51484722, -0.44651495,  0.85639879],
       [ 0.21409374, -1.24573878,  0.17318093,  0.38531738],
       [-0.88385744,  0.15372511,  0.05820872, -1.14297030],
       [ 0.35778736,  0.56078453,  1.08305124,  1.05380205],
       [-1.37766937, -0.93782504,  0.51503527,  0.51378595]])

In [90]:
np.delete(A,2,axis=1)

array([[ 0.01300189,  1.45353408,  2.72016917],
       [ 0.62566735, -0.85715756,  0.48247242],
       [-0.22346279,  0.71400049, -0.07282891],
       [-0.84679372, -1.51484722,  0.85639879],
       [ 0.21409374, -1.24573878,  0.38531738],
       [-0.88385744,  0.15372511, -1.14297030],
       [ 0.35778736,  0.56078453,  1.05380205],
       [-1.37766937, -0.93782504,  0.51378595]])

### <a name='9'></a> Ćwiczenie 59
Podana jest tablica jednowymiarowa $v$ (wektor):

```
v = np.array([3, 4, -2])
```
Policz normę wektora $v$.

In [92]:
v = np.array([3, 4, -2])

In [94]:
np.linalg.norm(v)

5.385164807134504

### <a name='10'></a> Ćwiczenie 60
Poniżej podana jest przykładowa tablica $A$:


```
A = np.random.randint(10, size=(100, 30))
```
Ustaw odopowiednią opcję biblioteki numpy pozwalającą drukować 10 skrajnych elementów. Wydrukuj tablicę $A$.

In [96]:
A = np.random.randint(10, size=(100, 30))
A

array([[8, 4, 3, ..., 5, 0, 3],
       [6, 1, 8, ..., 5, 7, 1],
       [5, 0, 3, ..., 1, 4, 5],
       ...,
       [4, 2, 7, ..., 7, 9, 7],
       [2, 6, 6, ..., 1, 0, 9],
       [1, 5, 7, ..., 6, 8, 0]])

In [97]:
np.set_printoptions(edgeitems=10)
A

array([[8, 4, 3, 2, 2, 4, 9, 0, 4, 5, ..., 3, 1, 8, 8, 5, 5, 7, 5, 0, 3],
       [6, 1, 8, 7, 7, 6, 3, 1, 2, 5, ..., 5, 5, 9, 4, 4, 9, 4, 5, 7, 1],
       [5, 0, 3, 9, 2, 8, 2, 5, 0, 5, ..., 0, 7, 9, 5, 4, 9, 8, 1, 4, 5],
       [6, 4, 8, 0, 6, 9, 6, 3, 8, 4, ..., 7, 5, 3, 7, 2, 8, 1, 1, 6, 9],
       [3, 9, 7, 8, 6, 4, 7, 3, 1, 5, ..., 4, 7, 7, 3, 0, 0, 3, 5, 7, 5],
       [8, 8, 1, 9, 0, 1, 4, 3, 3, 8, ..., 5, 5, 1, 9, 2, 5, 7, 0, 0, 1],
       [5, 8, 3, 2, 7, 9, 8, 4, 8, 1, ..., 1, 0, 4, 1, 1, 6, 7, 9, 7, 3],
       [0, 6, 0, 3, 7, 1, 5, 5, 8, 4, ..., 7, 5, 4, 8, 2, 9, 3, 8, 5, 7],
       [6, 1, 2, 0, 8, 6, 0, 2, 3, 3, ..., 4, 1, 3, 0, 1, 0, 9, 9, 3, 3],
       [6, 9, 8, 8, 4, 9, 0, 0, 5, 1, ..., 2, 6, 6, 6, 9, 7, 4, 4, 3, 6],
       ...,
       [5, 8, 3, 0, 5, 4, 9, 5, 2, 1, ..., 8, 4, 1, 6, 9, 0, 6, 5, 6, 9],
       [2, 2, 6, 1, 0, 8, 8, 6, 6, 2, ..., 9, 1, 3, 4, 0, 0, 9, 2, 9, 2],
       [7, 8, 0, 1, 9, 1, 3, 1, 6, 8, ..., 7, 7, 7, 0, 0, 7, 4, 8, 1, 8],
       [7, 8, 3, 0, 0, 4, 1, 7, 9, 4, ..., 1, 0, 8, 0, 3, 1, 3, 7, 7, 8],
       [4, 6, 2, 9, 3, 9, 8, 9, 9, 0, ..., 7, 2, 0, 6, 9, 2, 7, 3, 3, 4],
       [5, 6, 3, 7, 5, 0, 0, 8, 9, 5, ..., 0, 9, 8, 3, 2, 3, 3, 9, 1, 0],
       [9, 0, 7, 1, 9, 4, 3, 7, 1, 9, ..., 1, 3, 2, 1, 5, 3, 5, 1, 3, 5],
       [4, 2, 7, 6, 2, 5, 3, 4, 4, 6, ..., 0, 9, 4, 7, 4, 8, 5, 7, 9, 7],
       [2, 6, 6, 9, 5, 6, 1, 8, 9, 9, ..., 4, 5, 8, 3, 1, 4, 2, 1, 0, 9],
       [1, 5, 7, 2, 8, 8, 1, 7, 9, 4, ..., 5, 4, 1, 6, 3, 7, 6, 6, 8, 0]])